#DATABASE
DATABASE_URL=""

#AUTH
BETTER_AUTH_SECRET=""
BETTER_AUTH_URL=""

#AUTH SOCIALS
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

#NEXT
NEXT_PUBLIC_APP_URL=""

#STREAM
NEXT_PUBLIC_STREAM_API_KEY=""
STREAM_VIDEO_SECRET_KEY=""